html {
  display: block;
}

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
h1{
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.navbar{
 margin-top: 20px;
 margin-left: 15px;
 margin-right: 15px;
}
.nav-link:hover{
  color:rgb(192, 0, 0)
}
.FirstSection{
  color: white;
  margin-bottom: 20px;
  width: auto;
  height: 600px;
  background-image: url("./images/sdf.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/*.firstOther{
width: auto;
height: 700px;
}*/
#movie-backdrop {
  width: 100%;
}
.mamamia{
margin-left: 220px;
margin-right: auto;
}

/*all of the page design*/
.container-fluid
{   text-align: center;
  padding-top: 32px;
  justify-content: space-around!important;
  background-image: linear-gradient(black, rgb(153, 1, 1));
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/*hover effect start*/
.container-fluid .card{
  cursor: pointer;
  flex-direction: column;
  position: relative;
  width: 380px;
  height: 180px;
  background-color: #fff;
  margin: 30px 3px;
  padding: 20px 15px;
  display: flex;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container-fluid .card:hover{
  height: 290px;
}
.container-fluid .card .image{
  position : relative;
width : 300px;
height : 280px;

top : -40%;
left: 8px;
box-shadow : 0 5px 20px rgba(0,0,0,0.2);
z-index : 1;
}
.container-fluid .card .image img {
  max-width : 100%;
  border-radius : 15px;
}
.container-fluid .card .contentCard {
  position : relative;
  top : -100px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
font-weight: bolder;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;

}
.container-fluid .card:hover .contentCard {
  margin-top : 23px;
  visibility : visible;
  opacity : 1;
  padding: 0%;
  transition-delay: 0.2s;
}
/*hover effect end*/

#actors {
  margin: 24px 16px 0 0;
}
.third-part{
  background: gray;
}
.flex-container{
  margin-top: 150px;
  padding-left: 50px;
}
#movie-backdrop{
size: 10px;
}
/*actors cards*/
.cardAct{
  cursor: pointer;
  flex-direction: column;
  position: relative;
  width: 270px;
  height: 370px;
  margin: 50px;
  margin-right: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  border-radius : 15px;
  color: #fff;
  margin-top: 70px;
}

/*about us page*/
.aboutUs{
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: auto;
  text-align: center;
  margin: auto;
}
.aboutUsImage{
  cursor: cell;
  width: auto;
  margin: auto;
}
.aboutUsBody{
cursor: auto;
flex-direction: column;
flex-wrap: wrap;
position: relative;
margin:auto;
display: flex;
justify-content: space-around;
color: #fff;
background-color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
}

/*.cardAct:hover{
  height: 380px;
  width: 280px;
}*/

/*search button design*/
.btn-danger{
  border: 2px solid rgba(212, 7, 0, 0.911);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-danger:hover{
  color: #fff;
  background: rgba(235, 8, 0, 0.932);
border: 2px solid rgba(199, 7, 0, 0.884);
}

/*movie details page*/
.movDetail{
  color: white;
  display: flex;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  margin-left: 40%;
 margin-top: 5%;
}
.movDetail1{
  color: white;
  display: flex;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  margin-left: 22%;
 margin-top: 5%;
}

/*responsiveness
-also it can give us an idea about what to add, i didn't fix it
@media only screen and (min-width: 375px) and (max-width: 667px) {
    #container {
      margin: 0;
      padding: 0;
    }

    .navbar {
      margin: auto;
      padding: 1rem;
    }

    .home-page-card {
      width: 90%;
    }

    .shadow_effect {
      width: 60%;
    }

    .single_movie_img {
      position: relative;
      object-fit: contain;
      bottom: 8%;
      width: 100%
    }

    .short_info span,
    #single-actor-page span {
      font-size: 2rem;
    }

    .short_info {
      margin-top: 4rem;
      padding: 1.5rem;
      width: 100vw;
    }

    #movie-title{
      width:6rem;
    }
    #movie-overview {
      position: relative;
      text-align: justify;
      width: 100%;
    }

    .more_info {
      flex-direction: column;
    }

    #second-part {
      margin: 1.5rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    #second-part .card {
      width: 100%;
      margin: 2rem 4rem;
    }

    #single-actor-page {
      margin: 2rem .8rem;
    }

    #actor-name {
      margin-top: 2rem;
    }

    #single-actor-page .card {
      margin: 1rem 1rem 2rem 3.5rem;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .home-page-card {
      width: 45%;
    }


    .single_movie_img {
      position: relative;
      object-fit: contain;
      bottom: 8%;
      width: 100%
    }

    .short_info span,
    #single-actor-page span {
      font-size: 4rem;
    }

    .short_info {
      margin-top: 4rem;
      padding: 1.5rem;
      width: 90vw;
    }
    #movie-title{
      width:6rem;
    }

    .movDetail p {
      font-size: 1rem;
    }

    #movie-overview {
      position: relative;
      text-align: justify;
      width: 100%;
    }

    .more_info {
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 2rem !important;
    }

    #production-company .card {
      width: 40%;
    }

    #second-part .card {
      margin-bottom: 2rem;
    }

    #single-actor-page {
      margin: 2rem .8rem;
    }

    #actor-name {
      margin-top: 2rem;
    }

    #single-actor-page .card {
      margin: 1rem 1rem 2rem 3.5rem;
    }

    #actor-backdrop {
      width: 100%;
    }

  }
*/

