html {
    display: block;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
h1{
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}
.navbar{
   margin-top: 20px;
   margin-left: 15px;
   margin-right: 15px;
}
.nav-link:hover{
    color:rgb(192, 0, 0)
}
.FirstSection{
    color: white;
    height: 700px;
    background-image: url(./12.webp);
    background-position: right;
    background-repeat: no-repeat;
}
#movie-backdrop {
    width: 100%;
}
.container-fluid
{   text-align: center;
    padding-top: 32px;
    justify-content: space-around!important;
    background-image: linear-gradient(black, rgb(153, 1, 1));
}
.card{
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateX(-3px) scale(1.05) rotateX(15deg);
}
#actors {
    margin: 24px 16px 0 0;
}
.third-part{
    background: gray;
}
.flex-container{
    margin-top: 150px;
    padding-left: 50px;
}
#movie-backdrop{
size: 10px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 0.25rem;
    width: 25%;
    padding: 10px;
    margin: 2rem 0.5rem;
}
.btn-danger{
    border: 2px solid rgba(212, 7, 0, 0.911);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.btn-danger:hover{
    color: #fff;
    background: rgba(235, 8, 0, 0.932);
  border: 2px solid rgba(199, 7, 0, 0.884);
}
.movDetail{
    color: white;
}
/*responsiveness
-also it can give us an idea about what to add, i didn't fix it*/
/*@media only screen and (min-width: 375px) and (max-width: 667px) {
    #container {
      margin: 0;
      padding: 0;
    }

    .navbar {
      margin: auto;
      padding: 1rem;
    }

    .home-page-card {
      width: 90%;
    }

    .shadow_effect {
      width: 60%;
    }

    .single_movie_img {
      position: relative;
      object-fit: contain;
      bottom: 8%;
      width: 100%
    }

    .short_info span,
    #single-actor-page span {
      font-size: 2rem;
    }

    .short_info {
      margin-top: 4rem;
      padding: 1.5rem;
      width: 100vw;
    }

    #movie-title{
      width:6rem;
    }
    #movie-overview {
      position: relative;
      text-align: justify;
      width: 100%;
    }

    .more_info {
      flex-direction: column;
    }

    #second-part {
      margin: 1.5rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    #second-part .card {
      width: 100%;
      margin: 2rem 4rem;
    }

    #single-actor-page {
      margin: 2rem .8rem;
    }

    #actor-name {
      margin-top: 2rem;
    }

    #single-actor-page .card {
      margin: 1rem 1rem 2rem 3.5rem;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .home-page-card {
      width: 45%;
    }

    .shadow_effect {
      width: 80%;
    }

    .single_movie_img {
      position: relative;
      object-fit: contain;
      bottom: 8%;
      width: 100%
    }

    .short_info span,
    #single-actor-page span {
      font-size: 4rem;
    }

    .short_info {
      margin-top: 4rem;
      padding: 1.5rem;
      width: 90vw;
    }
    #movie-title{
      width:6rem;
    }

    #first-part p {
      font-size: 1rem;
    }

    #movie-overview {
      position: relative;
      text-align: justify;
      width: 100%;
    }

    .more_info {
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 2rem !important;
    }

    #production-company .card {
      width: 40%;
    }

    #second-part .card {
      margin-bottom: 2rem;
    }

    #single-actor-page {
      margin: 2rem .8rem;
    }

    #actor-name {
      margin-top: 2rem;
    }

    #single-actor-page .card {
      margin: 1rem 1rem 2rem 3.5rem;
    }

    #actor-backdrop {
      width: 100%;
    }

  }
*/